body{
  background-color: #B9D1C4;
}
h1{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 3px 3px #000000,
              -3px -3px #000000,
              -3px 3px #000000;
  border: dash 3px black;
  padding: 3px;
  color: #2d513e;
  font-family: serif;
  font-size: 60px;
}

h4{
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
}

p{
  text-align: center;
}

.quote{
  font-family: cursive;
  text-align:right;
  display:inline-block;
}

.paragraph{
  text-align: left;
}

.paragraph2{
  text-align: center;
}

.links{
  text-align: right;
}

img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
  border: solid 4px black;
}

.homepic{
  margin-right:auto;
}
